name: CI

on: [push]

jobs:
  # Задача для установки зависимостей
  install:
    runs-on: ubuntu-latest
     - uses: actions/checkout@v3
     - run: echo "The ${{ github.repository }} repository has been cloned to the runner."
     - uses: php-actions/composer@v6
     - run: echo "Composer dependencies have been installed"
  # Задача для тестирования
  test:
    runs-on: ubuntu-latest

    steps:
      - run: vendor/bin/phpunit --verbose tests
