name: CI

on: [push]

jobs:
  # Задача для установки зависимостей
  build:
    # Указываю, на какой операционной системе будет выполняться задача
    runs-on: ubuntu-latest
    steps:
      # Клонирую репозиторий в рабочую директорию
      - uses: actions/checkout@v4
      - run: echo "The ${{ github.repository }} repository has been cloned to the runner."
      # Выполняю команду "composer install" для установки необходимых зависимостей
      - uses: php-actions/composer@v6
      - run: echo "Composer dependencies have been installed"
  # Задача для тестирования
  test:
    # Задача для тестирования выполняется только после успешного завершения задачи для установке зависимостей
    needs: build
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ 'ubuntu-latest', 'windows-latest', 'macos-latest' ]
        php-versions: [ '7.3', '7.4' ]
        phpunit-versions: [ 'latest' ]
        include:
          - operating-system: 'ubuntu-latest'
            php-versions: '7.2'
            phpunit-versions: '8.5.13'
#    runs-on: windows-latest
#    steps:
#      # Клонирую репозиторий в рабочую директорию
#      - name: Checkout code
#        uses: actions/checkout@v4
#      - run: echo "The ${{ github.repository }} repository has been cloned to the runner."
#      # Выполняю команду "composer install" для установки необходимых зависимостей
#      - name: Checkout code
#        uses: php-actions/composer@v6
#      - run: echo "Composer dependencies have been installed"
#      - run: vendor/bin/phpunit --verbose tests
  # Задача для деплоя
  deploy:
    # Задача для деплоя выполняется только после успешного завершения задачи для тестированию
    needs: test
    runs-on: ubuntu-latest
    steps:
      # Клонирую репозиторий в рабочую директорию
      - name: Checkout code
        uses: actions/checkout@v4
      # Добавляю SSH ключ в файлы ~/.ssh/id_rsa и ~/.ssh/known_hosts
      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_DEPLOY_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts
      # Подключаюсь к серверу по SSH и выполняю команду "git pull origin main"
      - name: Deploy to server
        run: |
          echo "Starting deployment..."
          ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no borisey@95.142.44.94 "cd /var/www/html/php_app && git pull origin main"