name: CI

on: [push]

jobs:
  # Задача для установки зависимостей
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: echo "The ${{ github.repository }} repository has been cloned to the runner."
      - uses: php-actions/composer@v6
      - run: echo "Composer dependencies have been installed"
  # Задача для тестирования
      - run: vendor/bin/phpunit --verbose tests
  # Задача для деплоя
  deploy:
    # Задача по деплою выполняется только после успешного завершения задачи по тестированию
    needs: build-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_DEPLOY_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts
      - name: Deploy to server
        run: |
          echo "Starting deployment..."
          ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no borisey@95.142.44.94 "cd /var/www/html/php_app && git pull origin main"
          echo "Deployment completed."